<h1>Editing vape product</h1>

<%= render "form", vape_product: @vape_product %>

<br>

<div>
  <%= link_to "Show this vape product", @vape_product %> |
  <%= link_to "Back to vape products", vape_products_path %>
</div>
